 <%- include('./templates/header.ejs') %>
 <%- include('./templates/nav.ejs') %> 

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <%- include("templates/header") %>

    <title>Discord Lists | Deleting <%= botid.botname %></title>
  </head>
  <body>
    <center><h1>Deleting <%= botid.botname %> </h1></center><br><br>
    <div class="center-flex"><img src="<%=botid.botavatar %>"/></div>
    <Br>
    <br>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <center><form class="needs-validation" method="POST" action="/bot/delete/<%= botid.botid %>" novalidate>
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">            This action is irreversible. You will have to add your bot again if you wish to undo. Type <b>DELETE</b> below to Confirm.</label>
          <input type="text" class="form-control" name="DELETE" id="validationCustom01" placeholder="DELETE" required>
          <div class="invalid-feedback">
          Type DELETE to confirm.
          </div>
        </div><br>
        <div class="col-12">
          <button class="button-main" type="submit">Confirm Delete</button>
          <a href="/bot/<%= botid.botid %>"><button class="button-main">Cancel</button></a>
        </div><br>
      </form></center>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
 <%- include('./templates/footer.ejs') %> 
