<%- include('./templates/header.ejs') %>
 <%- include('./templates/nav.ejs') %> 
<br><Br>
<img src="https://cdn.discordapp.com/attachments/870296629134114817/870305666978439208/Discord_Lists_V6_Logo.png" class="top-img"/>
<br>
<h1>Discord Lists</h1>
<br>
<p>The history of Discord Bots!</p>
<br><br><Br>
  <form id="main-form">
    <input class="search" type="text"  placeholder="eg. Moderation">
  </form>

<br><br>

    <h2 class="heading"><i class="fas fa-check-circle"></i> Certified Bots</h2><br><br>
     <% if(certified_bots.length === 0){ %>
        <h3 class="text-center">No Certified Bots found. Please visit us later.</h3>
      <% } else{ %>
      <div class="center-flex">
      <% certified_bots.forEach(function(bot) { %>
    <div class="container">
      <div class="card">
        <div class="imgBx">
          <img src="<%= bot.botavatar %>">
        </div>
        <div class="contentBx"><br>
          <h2 style="font-size: 25xpx;"><%= bot.botname %><img src="https://cdn.glitch.com/1be813f1-4233-4b7a-bf44-8a562481d51f%2FCertified.png?v=1625404757585" title="Certified Bot" width="38" height="38"></h2><br><br>
          <a href="/bot/<%= bot.botid %>" class="viewbot"><button class="button-main"><i class="fas fa-eye"></i> View </button></a>
          <a href="<%= bot.invite %>" class="invitebot"><button class="button-main"><i class="fas fa-arrow-right"></i> Invite </button></a>
        </div>
      </div>
    </div>
              <% }); %>
              </div>
     <% } %>

<br><br><br><br><br>
    <h2 class="heading"><i class="fas fa-list"></i> Other Bots</h2><br><br>
     <% if(verified_bots.length === 0){ %>
        <h3 class="text-center">No Bots found. Please visit us later.</h3>
      <% } else{ %>
      <div class="center-flex">
      <% verified_bots.forEach(function(bot) { %>
    <div class="container">
      <div class="card">
        <div class="imgBx">
          <img src="<%= bot.botavatar %>">
        </div>
        <div class="contentBx"><br>
          <h2><%= bot.botname %><% if(bot.certification === 'certified'){ %>
          <img src="https://cdn.glitch.com/1be813f1-4233-4b7a-bf44-8a562481d51f%2FCertified.png?v=1625404757585" title="Certified Bot" height="38" width="38">
        <% } %></h2><br><br>
          <a href="/bot/<%= bot.botid %>" class="viewbot"><button class="button-main"><i class="fas fa-eye"></i> View </button></a>
          <a href="<%= bot.invite %>" class="invitebot"><button class="button-main"><i class="fas fa-arrow-right"></i> Invite </button></a>
        </div>
      </div>
    </div>
              <% }); %>
              </div>
     <% } %>
<br><br><br><br><br>
    <h2 class="heading"><i class="fas fa-random"></i> Random Bots</h2><br><br>
     <% if(random_bot.length === 0){ %>
        <h3 class="text-center">No Bots found. Please visit us later.</h3>
      <% } else{ %>
      <div class="center-flex">
      <% random_bot.forEach(function(random) { %>
    <div class="container">
      <div class="card">
        <div class="imgBx">
          <img src="<%= random.botavatar %>">
        </div>
        <div class="contentBx"><br>
          <h2><%= random.botname %><% if(random.certification === 'certified'){ %>
          <img src="https://cdn.glitch.com/1be813f1-4233-4b7a-bf44-8a562481d51f%2FCertified.png?v=1625404757585" title="Certified Bot" height="38" width="38">
        <% } %></h2><br><br>
          <a href="/bot/<%= random.botid %>" class="viewbot"><button class="button-main"><i class="fas fa-eye"></i> View </button></a>
          <a href="<%= random.invite %>" class="invitebot"><button class="button-main"><i class="fas fa-arrow-right"></i> Invite </button></a>
        </div>
       </div>
      </div>
      <% }); %>
      </div>
     <% } %>

<br><br><br><br><br>
      <!--search script -->
      <script>
const searchBar = document.getElementsByClassName("search")[0]
const form = document.getElementById("main-form")

form.addEventListener("submit",e=>{
e.preventDefault()
search()
} )


function search(){
  const value = searchBar.value
  window.location.href = "/s?search="+value
}
</script>
 <%- include('./templates/footer.ejs') %> 