 <%- include('./templates/header.ejs') %>
 <%- include('./templates/nav.ejs') %> 

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <%- include("templates/header") %>


    <title>Discord Lists | Hello <%= user.username %></title>
  </head>
  <body><br><br><br>
    <center><img src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>" class="rounded" alt="..."></center>
    <center><h1><%= user.username %>#<%= user.discriminator %></h1></center><br>
    <center><button class="button-main"><a   href="/addbot" role="button">Add Bot</a></button></center><br><br>
    <center><button class="button-main"><a   href="/" role ="button">Return Home</a></button></center><br><br>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <% bots.forEach(function(bot) { %>
    <div class="col">
      <div class="card h-500">
        <div class="card-body">
        <img src="<%= bot.botavatar %>"><br>
          <h3 class="card-title"><%= bot.botname %></h3>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="button-main"><a href="/bot/<%= bot.botid %>" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">View</a></button>
            <button class="button-main"><a href="/bot/<%= bot.botid %>/edit" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Edit</a></button>
            <button class="button-main"><a href="/bot/<%= bot.botid %>/delete" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Delete</a></button></div>
        </div>
      </div>
    </div>
    <% }); %>
   </div><br><br>
 <%- include('./templates/footer.ejs') %> 