<%- include('./templates/header.ejs') %>
 <%- include('./templates/nav.ejs') %> 

<% if(query){ %>
<form id="main-form">
  <input class="search" type="text"  placeholder="Search..." value="<%=query%>">
</form>
<% } else{ %>
  <div class="center-flex">
    <h2>Search for Bots</h2>
  </div>
  <br><br>
  <form id="main-form">
    <input class="search" type="text"  placeholder="eg. Moderation">
  </form>

<% } %>

<br><br>

     <% if(searchResults.length === 0){ %>
        <h2 style="text-align:center;">No Bots found.</h2> <div style="height:100vh"></div>
    <% } else if(!searchResults){%>


      <% } else{ %>
      <div class="center-flex">
      <h2>Search Results <h2>
      </div>
      <div class="center-flex">
      <% searchResults.forEach(function(bot) { %>
    <div class="container">
      <div class="card">
        <div class="imgBx">
          <img src="<%= bot.botavatar %>">
        </div>
        <div class="contentBx">
          <h2 style="font-size: 25xpx;"><%= bot.botname %></h2>
          <p><%=bot.shortdes%></p>
          <a href="/bot/<%= bot.botid %>" class="viewbot"><button class="button-main"><i class="fas fa-eye"></i> View </button></a>
          <a href="<%= bot.invite %>" class="invitebot"><button class="button-main"><i class="fas fa-arrow-right"></i> Invite </button></a>
        </div>
      </div>
    </div>
              <% }); %>
              </div>
     <% } %>
<br><br>
<div style="height:60vh"></div>
<script>
const searchBar = document.getElementsByClassName("search")[0]
const form = document.getElementById("main-form")

form.addEventListener("submit",e=>{
e.preventDefault()
search()
} )


function search(){
  const value = searchBar.value
  window.location.href = "/s?search="+value
}
</script>
 <%- include('./templates/footer.ejs') %> 