 <%- include('./templates/header.ejs') %>
 <%- include('./templates/nav.ejs') %> 

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <%- include("templates/header") %>

    <title>Discord Lists | Staff Panel</title>
  </head>
  <body>
      <center><h1>Staff Panel</h1></center>
      <div class="center-flex">
      <p>Accept/Deny bots here!</p>
      <%unverifiedBot.forEach%>
      </div>
      <div class="center-flex">
      <% unverifiedBot.forEach(function(bot) { %>
    <div class="container">
      <div class="card">
        <div class="imgBx">
          <img src="<%= bot.botavatar %>">
        </div>
        <div class="contentBx"><br>
          <h2 style="font-size: 25xpx;"><%= bot.botname %></h2><br><br>
          <a href="/bot/<%= bot.botid %>" class="viewbot"><button class="button-main">View</button></a>
          <a href="<%= bot.invite %>" class="invitebot"><button class="button-main">Invite</button></a>
        </div>
      </div>
    </div>
              <% }); %>
      </div>
  </body>
</html>