 <%- include('./templates/header.ejs') %>
 <%- include('./templates/nav.ejs') %> 

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Discord Lists | Voting <%= botid.botname %></title>
  </head>
  <body>
      <center><h3>You're now voting for <%= botid.botname %> bot. You only can vote for 1 bot and you have to wait 12 hours cooldown for next vote. Choose the bot to vote wisely.</h3></center><br>
      <center><img src="<%= botid.botimage %>" class="rounded" alt="..."></center>
      <center><form class="needs-validation" method="POST" action="/bot/vote/<%= botid.botid %>">
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Vote</button>
        </div><br>
      </form></center>
  </body>
</html>